.menuSubtitle {
  color: #8e8e8e;
  font-size: 0.8em;
}

.menuItem {
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 0.9em;
}

.menuTitle {
  font-weight: bold;
  font-size: 1.1em;
}

.menuSection:not(:first-child) {
  margin-top: 1em;
  padding-top: 1em;
}

.menuLinkTitle:link,
.menuLinkTitle:visited,
.menuLinkTitle:active {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.menuLinkTitle:hover {
  text-decoration: underline;
  font-weight: bold;
}
